@font-face {
	font-family: 'Osvald-medium';
	src: url('../fonts/Oswald-Medium.ttf') format('opentype');
}

.Osvald {
	font-family: 'Osvald-medium';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}

.Sans {
	font-family: 'Lato';
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Oswald-Reg';
	src: url('../fonts/Oswald-Regular.ttf') format('opentype');
}

.Oswald-Reg {
	font-family: 'OswaldReg';
	font-weight: normal;
	font-style: normal;
}