@font-face {
  font-family: 'Osvald-medium';
  src: url('../fonts/Oswald-Medium.ttf') format('opentype');
}
.Osvald {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}
.Sans {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Reg';
  src: url('../fonts/Oswald-Regular.ttf') format('opentype');
}
.Oswald-Reg {
  font-family: 'OswaldReg';
  font-weight: normal;
  font-style: normal;
}
.OUTR {
  outline: 2px solid red;
}
.OUTG {
  outline: 2px solid green;
}
.OUTB {
  outline: 2px solid blue;
}
.OUTY {
  outline: 2px solid yellow;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
.header {
  min-height: 100px;
}
