@font-face {
  font-family: 'Osvald-medium';
  src: url('../fonts/Oswald-Medium.ttf') format('opentype');
}
.Osvald {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansPro-Regular.otf') format('opentype');
}
.Sans {
  font-family: 'SourceSansPro';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Oswald-Reg';
  src: url('../fonts/Oswald-Regular.ttf') format('opentype');
}
.Oswald-Reg {
  font-family: 'OswaldReg';
  font-weight: normal;
  font-style: normal;
}
.OUTR {
  outline: 2px solid red;
}
.OUTG {
  outline: 2px solid green;
}
.OUTB {
  outline: 2px solid blue;
}
.OUTY {
  outline: 2px solid yellow;
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
}
ul {
  list-style-type: none;
}
.header {
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.header__logo {
  display: block;
  height: 100px;
}
.header__list-1 {
  min-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
}
.header__list-1 a {
  position: relative;
  display: block;
  padding-top: 42px;
  padding-bottom: 42px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #212327;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header__list-1 a:hover::after,
.header__list-1 a:first-child::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ee3b33;
  left: 0;
  bottom: 0;
}
.header__list-2 {
  min-width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #212327;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.02em;
}
.header__list-2 a {
  display: block;
  position: relative;
  padding-top: 44px;
  padding-bottom: 44px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #212327;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.header__list-2 a:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ee3b33;
  left: 0;
  bottom: 0;
}
.header__search {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url('../image/header-search.png');
  background-repeat: no-repeat;
  background-position-x: 36px;
  background-position-y: 38px;
  cursor: pointer;
}
.slider {
  width: 100%;
  min-height: 670px;
}
.slider__pict {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 6.7%;
  padding-right: 6.7%;
}
.slider__pict a {
  position: relative;
  display: block;
  text-decoration: none;
}
.slider__pict a:hover::after,
.slider__pict a:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ee3b33;
  left: 0;
  bottom: 0;
}
.slider__pict p {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  font-size: 13px;
  line-height: 13px;
  color: #212327;
  padding-top: 12px;
  padding-bottom: 6px;
}
.slider__2 {
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 600px;
  width: 1160px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.slider__2 input {
  position: absolute;
  z-index: -5;
  left: -2000px;
  top: 0;
}
.slider__2 .labels-year {
  position: absolute;
  z-index: 5;
  right: 30px;
  top: 20px;
}
.slider__2-2015,
.slider__2-2016 {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  z-index: -1;
}
#slider-2-2015:checked ~ .slider__2-2015,
#slider-2-2016:checked ~ .slider__2-2016 {
  opacity: 1;
  z-index: 1;
}
.slider__color-2-2015,
.slider__color-2-2016 {
  position: relative;
  width: 760px;
}
.slider__color-2-2015 input,
.slider__color-2-2016 input {
  position: absolute;
  z-index: 5;
  left: -2000px;
  top: 0;
}
.slider__color-2-2015 .labels-color,
.slider__color-2-2016 .labels-color {
  position: absolute;
  z-index: 5000;
  right: -115px;
  top: 170px;
}
.slider__2-2015-img1,
.slider__2-2015-img2,
.slider__2-2015-img3,
.slider__2-2016-img1,
.slider__2-2016-img2,
.slider__2-2016-img3 {
  position: absolute;
}
#slider-2-2015-blue:checked ~ .slider__2-2015-img1,
#slider-2-2015-grey:checked ~ .slider__2-2015-img2,
#slider-2-2015-yellow:checked ~ .slider__2-2015-img3,
#slider-2-2016-blue:checked ~ .slider__2-2016-img1,
#slider-2-2016-grey:checked ~ .slider__2-2016-img2,
#slider-2-2016-yellow:checked ~ .slider__2-2016-img3 {
  opacity: 1;
  z-index: 100;
}
.slider__right-column {
  width: 390px;
  margin-left: 5px;
}
.slider__right-h2 {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  font-size: 75px;
  line-height: 75px;
  color: #212327;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
}
.slider__right-starting {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  font-size: 12.5px;
  line-height: 12.5px;
  color: #81848a;
  margin-bottom: 10px;
}
.slider__right-price {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 25px;
  color: #212327;
  margin-bottom: 75px;
}
.slider__right-text {
  font-family: 'SourceSansPro';
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 28px;
  color: #212327;
}
.slider__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.slider__links-1,
.slider__links-2 {
  font-family: 'Osvald-medium';
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  width: 185px;
  height: 60px;
  border-radius: 5px;
  border: 2px solid #ee3b33;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}
.slider__links-1 {
  background-color: #ee3b33;
  color: #ffffff;
}
.slider__links-2 {
  background-color: #ffffff;
  color: #ee3b33;
}
